<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<style>
		body {
			margin: 0;
			background-color: black;
		}


		#cabecalho, #rodape {
			background-color: #ccc;
			height: 100px;

			width: 960px;


		}

		#site {
			width: 960px;
			height: 500px;

			background-color: #fff;
			

			position: absolute;
			left: 50%;
			top: 50%;
			
			margin-top: -250px;
			margin-left: -480px;


		}

		#conteudo {
			background-color: blue;
			height: 300px;
		}

		p {
			color: white;
		}
	</style>
</head>
<body>
	<div id="site">

		<header id="cabecalho"></header>
		
		<div id="conteudo">
			

		</div>
		<footer id="rodape"></footer>

	</div>
</body>
</html>