<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<style>
		body {
			margin: 0;
		}
		.menu {
			background-color: red;
			width: 150px;
			height: 300px;
			position: absolute;
		}

		#menu1 {
			margin-left: 20px;
		}

		#menu2 {
			right: 0;
			margin-right: 20px;
		}

		#conteudo {
			height: 400px;
			background-color: gray;
			margin-right: 190px;
			margin-left: 190px;
		}
	</style>
</head>
<body>
	<nav class="menu" id="menu1">
	</nav>

	<nav class="menu" id="menu2">
	</nav>

	<div id="conteudo"></div>
</body>
</html>