<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<style>
		body {
			margin: 0;
		}

		header, footer {
			height: 100px;
			background-color: red;
		}
		header {
			margin-bottom: 20px;
		}
		footer {
			margin-top: 20px;
		}
		#menu {
			background-color: red;
			width: 150px;
			height: 300px;
			position: absolute;
		}

		#conteudo {
			height: 400px;
			background-color: gray;
			margin-left: 170px;
		}
	</style>
</head>
<body>

	<header></header>
	<nav id="menu">
	</nav>

	<div id="conteudo"></div>
</body>
</html>